<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>Imagine you are building a dictionary to represent a student's grades in their classes. Each key represents the class name (e.g. "Math", "English", "History") and the corresponding value represents the student's grade in that class (e.g. "A", "B+", "C-"). How would you define this dictionary in Python? How would you add a new class and grade to the dictionary? How would you update the grade for an existing class?</p>
    
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>You are working on a Python program that needs to store data about a company's employees. Each employee has a name, age, and salary. How would you use a dictionary to store this information for each employee? How would you add a new employee to the dictionary? How would you remove an employee from the dictionary? How would you find the employee with the highest salary?</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>You are building a Python program to keep track of a restaurant's menu items. Each menu item has a name, description, and price. How would you use a dictionary to store this information for each menu item? How would you add a new menu item to the dictionary? How would you remove a menu item from the dictionary? How would you print out the entire menu in a user-friendly way?</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>