<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>You are working on a project where you need to create an array of 10 integers and initialize it with random values between 1 and 100. Write Python code to create the array and populate it with random integers.</p>
    
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>You are working on a project where you need to find the sum of all the even numbers in an array of integers. Write Python code to create an array of 20 integers and find the sum of all the even numbers in the array.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>You are working on a project where you need to find the smallest and largest numbers in an array of integers. Write Python code to create an array of 15 integers and find the smallest and largest numbers in the array.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>