{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand mx-5" href="#">
        <p class="logo__header">PYTHON</p>
        <p class="logo__sub__title">Teacher</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
        <ul class="navbar-nav justify-content-center">
            <!-- Add the new navbar item here -->
            <li class="nav-item">
                <a class="nav-link" href="#intro">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exercise">Exercise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#test">Testing</a>
            </li>

        </ul>
    </div>
</nav>
<div class="my-5 mx-5" id="intro">
    <h1 class="text-center mt-3">Data Types</h1>
    <p>Python supports several data types, each with its own characteristics and uses.</p>
    <ul>
        <li>Text Type</li>
        <p>str - Represents a sequence of characters enclosed in single quotes ('') or double quotes ("").</p>
        <li>Numeric Types</li>
        <p>int -  Represents whole numbers, such as 1, -5, or 1000.</p>
        <p> float - Represents decimal numbers, such as 3.14 or -2.5.</p>
        <p>complex - Represents numbers with both real and imaginary parts, such as 2 + 3j or -1 - 4j.</p>
        <li>Sequence Types</li>
        <p>list - Represents an ordered collection of items enclosed in square brackets. Lists can contain elements of different types and are mutable (modifiable). </p>
        <p>tuple - Represents an ordered collection of items enclosed in parentheses (()). Tuples are similar to lists, but they are immutable (cannot be modified).</p>
        <!-- <p>range - </p> -->
        <li>Mapping Type</li>
        <p>dict - Represents a collection of key-value pairs enclosed in curly braces ({}). Keys are unique and used to access corresponding values. Dictionaries are mutable.</p>
        <li>Set Type</li>
        <p>set - Represents an unordered collection of unique elements enclosed in curly braces ({}). Sets do not allow duplicate values and support set operations like union, intersection, and difference. </p>
        <p>frozenset -  Similar to a set but is immutable.</p>
        <li>Boolean Types</li>
        <p>bool - Represents truth values, either True or False. It is often used for logical operations and conditions.</p>
        <li>Binary Types</li>
        <p>bytes -  The bytes data type represents an immutable sequence of bytes. It is used to store binary data in a fixed-size format. The individual bytes in a bytes object can be accessed using indexing, similar to a string. However, unlike strings, bytes objects are immutable.</p>
        <p>bytearray - The bytearray data type is similar to bytes, but it represents a mutable sequence of bytes. It allows you to modify individual bytes or perform in-place operations.</p>
        <p>memoryview -  The memoryview data type provides a way to access the internal data of other binary objects (like bytes or bytearray) without making a copy. It allows for efficient manipulation of large amounts of binary data.</p>
        <li>None Type</li>
        <p>NoneType - Represents the absence of a value or a null value. It is often used to indicate the absence of a return value or as an initial/default value.
        </p>
    </ul>
    <br />

    <h1 class="text-center mt-3">Numbers</h1>
    <hr/>
    <ul>
        <li>Int</li>
        <li>Float</li>
        <li>Complex</li>
    </ul>
    <img src="{% static 'img/lesson_04/1.png' %}" class="img-fluid" alt="Responsive image">
    <br/>

    <h3 class="text-center mt-3">Conversion</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/2.png' %}" class="img-fluid" alt="Responsive image">
    
    <h3 class="text-center mt-3">Random Numbers</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/3.png' %}" class="img-fluid" alt="Responsive image">

    <h1 class="text-center mt-3">String</h1>
    <hr/>
    <h3 class="text-center mt-3">Single or Double</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/4.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="text-center mt-3">Multiline string</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/5.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="text-center mt-3">Slicing</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/6.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="text-center mt-3">Modify</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/7.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="text-center mt-3">Concatenate</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/8.png' %}" class="img-fluid" alt="Responsive image">
    <br/>
    <!-- <h1 class="text-center mt-3">Casting</h1>
    example in each type -->

    <h1 class="text-center mt-3">Boolean</h1>
    <hr/>
    <p>In programming you often need to know if an expression is True or False.</p>
    <h3>Evaluate Values and Variables</h3>
    <p>Example </p>
    <img src="{% static 'img/lesson_04/10.png' %}" class="img-fluid" alt="Responsive image">
    <br/>
    
    <div class="mt-5 mb-5" id="exercise">
        <hr/>
    </div>
    <div class="row mt-4 text-center">
        <h1>Exercise</h1>
        <p>Here is some examples that you can check out and improve your knowledge. (replit)</p>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body  text-center">
                  <h5 class="card-title">Knock-Knock Joke</h5>
                  <p class="card-text">Let me take you to the childhood! Will you ?</p>
                  <a href="https://replit.com/join/aztyepdzzp-charunikosala"  target="_blank" class="btn btn-primary">Go</a>
                </div>
              </div>                  
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body  text-center">
                  <h5 class="card-title  ">MotivateMe</h5>
                  <p class="card-text">When life gives you lemons, make lemonade!</p>
                  <a href="https://replit.com/join/ynzpaxzrnt-charunikosala" target="_blank" class="btn btn-primary">Go</a>
                </div>
              </div>  
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body  text-center">
                  <h5 class="card-title">Greeting</h5>
                  <p class="card-text">How are you friends with someone found in the cafeteria?</p>
                  <a href="https://replit.com/join/cmiafjbryb-charunikosala" target="_blank" class="btn btn-primary">Go</a>
                </div>
              </div>  
        </div>
    </div>
    <br/>

    
    <div class="mt-5 mb-5" id="test">
        <hr/>
    </div>
    <h1 class="mt-4 text-center">
        Test
    </h1>
    <p>You can do exercise here to get some experience.</p>
    <div class="editor mt-2" id="editor"></div>

    <div class="my-1 text-center">
        <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
    </div>

    <div class="output"></div>
    
    <div class="row my-3 text-center">
        <div class="col-md-12 text-end ">
            <a href="{% url 'assignment' %}?lesson=1" class="btn btn-lg btn-danger">Assignment</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script>    
        console.log("Ace editor script executing...");
        if(document.getElementById('editor')) {
            console.log("Initializing Ace editor...");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/c_cpp");
            editor.session.setMode("ace/mode/python");
        }
    </script>
    <script>
        // Get a reference to the button element
        var runBtn = document.getElementById("runBtn");
        // Add a click event listener to the button
        runBtn.addEventListener("click", executeCode);
        function executeCode() {
            var csrftoken = getCookie('csrftoken');
            // Include the CSRF token in the Ajax request header
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // Send the Ajax request
            var code = editor.getSession().getValue();
            $.ajax({
                url: "{% url 'execute_code' %}",
                method: "POST",
                data: {
                    code: code
                },
                success: function(response) {
                    // Update the output element with the response
                    $(".output").text(response);
                }
            });
        }
        // Get the CSRF token cookie value
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>