<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>Suppose you're creating a program that calculates the cost of a pizza based on its size and toppings. Write an if..else statement that will add $1 to the total cost if the user selects pepperoni as a topping, and leave the cost unchanged if they don't select pepperoni.</p>
    
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>You're creating a program that converts temperatures from Celsius to Fahrenheit. Write an if..else statement that will print "The temperature is below freezing" if the converted temperature is below 32 degrees Fahrenheit, and "The temperature is above freezing" if it's 32 degrees or higher.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>Imagine you're creating a program that prompts the user to enter a number between 1 and 10. Write an if..else statement that will print "Your number is in range" if the user enters a number between 1 and 10 (inclusive), and "Your number is out of range" if they enter a number outside that range.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>