<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>Write a Python function called calculate that takes three arguments: a, b, and operation. The operation argument is a string that specifies which mathematical operation to perform on a and b. The function should return the result of the specified operation.</p>
    <p>The possible values for operation are:</p>
    <ul>
        <li>"add": returns the sum of a and b.</li>
        <li>"subtract": returns the difference between a and b (i.e., a - b).</li>
        <li>"multiply": returns the product of a and b.</li>
        <li>"divide": returns the result of dividing a by b.</li>
    </ul>
    <p>If operation is not one of these four strings, the function should return the string "Invalid operation".Also You can assume that a and b will always be numeric values, but you should handle division by zero by returning the string "Cannot divide by zero".</p>

    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>Write a program that takes a list of numbers as input from the user, and replaces all even numbers in the list with the value 0.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>Write a program that takes a string as input from the user, and replaces all occurrences of the character 'a' with the character 'b'.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>