{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% if chapter != 10 %}
<h1 class="mt-5">Assignment List</h1>
{% for assignment in assignments %}
<div>
    {% if assignment.assignment_level == '10' and assignment.assignment_progress_level == '1' %}
    <h3>Scenario : </h3>
    <p>Suppose you're creating a program that calculates the cost of a pizza based on its size and toppings. Write an if..else statement that will add $1 to the total cost if the user selects pepperoni as a topping, and leave the cost unchanged if they don't select pepperoni.</p>
    <h2>Marks: {{ assignment.marks }}</h2>
    <h2>Status / Message: {{ assignment.message }}</h2>
    <hr>
    {% endif %}

    {% if assignment.assignment_level == '10' and assignment.assignment_progress_level == '2' %}
    <h3>Scenario : </h3>
    <p>You're creating a program that converts temperatures from Celsius to Fahrenheit. Write an if..else statement that will print "The temperature is below freezing" if the converted temperature is below 32 degrees Fahrenheit, and "The temperature is above freezing" if it's 32 degrees or higher.</p>
    <h2>Marks: {{ assignment.marks }}</h2>
        <h2>Status / Message: {{ assignment.message }}</h2>
        <hr>
    {% endif %}

    {% if assignment.assignment_level == '10' and assignment.assignment_progress_level == '3' %}
    <h3>Scenario : </h3>
    <p>Imagine you're creating a program that prompts the user to enter a number between 1 and 10. Write an if..else statement that will print "Your number is in range" if the user enters a number between 1 and 10 (inclusive), and "Your number is out of range" if they enter a number outside that range.</p>
    <h2>Marks: {{ assignment.marks }}</h2>
    <h2>Status / Message: {{ assignment.message }}</h2>
    <hr>
    {% endif %}
</div>
{% endfor %}
{% endif %}
{% if chapter == 10 %}
<div id="div2" class="container my-5">
    <div class="card shadow p-5 text-center bg-warning text-dark">
        <p>Wish you all the best. Never give up!</p>
    </div>
</div>
<div class="container my-5" id="div1">
    <div class="card bg-danger p-2 text-light text-center shadow mb-3">
        <p><b>There is extra 10 min to prepare yourself for the take assignment. Take your time and feel free. Believe
                in yourself. Best of luck</b></p>
        <div class="">
            <span id="countdown"></span>
        </div>
    </div>
    {% if level == 1 %}
    <h3>Scenario : </h3>
    <p>Suppose you're creating a program that calculates the cost of a pizza based on its size and toppings. Write an if..else statement that will add $1 to the total cost if the user selects pepperoni as a topping, and leave the cost unchanged if they don't select pepperoni.</p>
    <p class="text-danger">The output must be like this. (word must same as here)</p>
    <div class="card bg-dark text-light">
        <div class="p-3">
            <p>Enter the size of the pizza (S, M, L): [size]</p>
            <p>Enter the toppings (separated by commas): [toppings]</p>
            <p>Total cost: $[cost] </p>
        </div>
    </div>
    <p>Note : If the size is not as given give message like this "Invalid size entered!"</p>

    <div>
        <div class="editor mt-2" id="editor"></div>

        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>

        <div class="output"></div>
    </div>
    {% endif %}

    {% if level == 2 %}
    <h3>Scenario : </h3>
    <p>You're creating a program that converts temperatures from Celsius to Fahrenheit. Write an if..else statement that will print "The temperature is below freezing" if the converted temperature is below 32 degrees Fahrenheit, and "The temperature is above freezing" if it's 32 degrees or higher.</p>
    <div class="card bg-dark text-light">
        <div class="p-3">
            <p>Enter the temperature in Celsius: [celsius]</p>
            <br>
            <p>[output] </p>
        </div>
    </div>
    <p class="text-danger">The output must be like this. (word must same as here)</p>
    <div>
        <div class="editor mt-2" id="editor"></div>

        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>

        <div class="output"></div>
    </div>
    {% endif %}

    {% if level == 3 %}
    <h3>Scenario : </h3>
    <p>Imagine you're creating a program that prompts the user to enter a number between 1 and 10. Write an if..else statement that will print "Your number is in range" if the user enters a number between 1 and 10 (inclusive), and "Your number is out of range" if they enter a number outside that range.</p>
    <div class="card bg-dark text-light">
        <div class="p-3">
            <p>Enter a number between 1 and 10: [number]</p>
            <br>
            <p>[output] </p>
        </div>
    </div>
    <p class="text-danger">The output must be like this. (word must same as here)</p>
    <div>
        <div class="editor mt-2" id="editor"></div>

        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>

        <div class="output"></div>
    </div>
    {% endif %}
    <div class="card bg-danger p-2 text-light text-center shadow my-3">
        <p><b>You can test your work with above editor. If you are not comfortable you can use your own editor(VSCode).
                You must save your file as python file (with .py extension). You must submit your answer within the time
                period. If not it take as attempt and fail the attempted assignment.</b></p>
       
    </div>
    <h1>Upload a File</h1>
    <form id="myForm">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    <div id="response"></div>
</div>
{ % endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script>
    console.log("Ace editor script executing...");
    if (document.getElementById('editor')) {
        console.log("Initializing Ace editor...");
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
        editor.session.setMode("ace/mode/python");
    }
</script>
<script>
    // Get a reference to the button element
    var runBtn = document.getElementById("runBtn");

    // Add a click event listener to the button
    runBtn.addEventListener("click", executeCode);

    function executeCode() {

        var csrftoken = getCookie('csrftoken');

        // Include the CSRF token in the Ajax request header
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // Send the Ajax request
        var code = editor.getSession().getValue();
        $.ajax({
            url: "{% url 'execute_code' %}",
            method: "POST",
            data: {
                code: code
            },
            success: function (response) {
                // Update the output element with the response
                $(".output").text(response);
            }
        });
    }
    // Get the CSRF token cookie value
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>

<script>
    // set the default duration to 45 minutes
    var duration = 50 * 60 * 1000;

    // calculate the end time from the current time and the duration
    var endTime = new Date(Date.now() + duration);


    // update the countdown timer every second
    var countdown = setInterval(function () {
        // get the current time
        var now = new Date();

        // calculate the time remaining in seconds
        var seconds = Math.floor((endTime - now) / 1000);
        // document.getElementById("div2").style.display = "none";
        // document.getElementById("div1").style.display = "block";

        // if the countdown has ended, clear the timer
        document.getElementById("div2").style.display = "none";
        document.getElementById("div1").style.display = "block";
        if (seconds <= 0) {
            // console.log('not here')
            clearInterval(countdown);
            document.getElementById("countdown").innerHTML = "Time is up.";
            document.getElementById("div1").style.display = "none";
            document.getElementById("div2").style.display = "block";
        } else {
            // console.log('here')
            // calculate the hours, minutes, and seconds remaining
            document.getElementById("div2").style.display = "none";
            document.getElementById("div1").style.display = "block";
            var hours = Math.floor(seconds / 3600);
            seconds -= hours * 3600;
            var minutes = Math.floor(seconds / 60);
            seconds -= minutes * 60;

            // display the remaining time in the countdown timer
            var countdownText = hours.toString().padStart(2, '0') + ":" +
                minutes.toString().padStart(2, '0') + ":" +
                seconds.toString().padStart(2, '0');
            document.getElementById("countdown").innerHTML = countdownText;
        }
    }, 1000);

    const form = document.getElementById('myForm');
    const responseDiv = document.getElementById('response');

    form.addEventListener('submit', event => {
        event.preventDefault();
        var now = new Date();
        var seconds = Math.floor((endTime - now) / 1000);
        var hours = Math.floor(seconds / 3600);
        seconds -= hours * 3600;
        var minutes = Math.floor(seconds / 60);
        seconds -= minutes * 60;
        var remainingTime = hours * 3600 + minutes * 60 + seconds;
        var formData = new FormData(form);
        console.log(remainingTime)
        formData.append("remaining_time", remainingTime);
        fetch('/upload_file', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                // if (data.success) {
                //   responseDiv.innerText = 'File uploaded successfully';
                // } else {
                //   responseDiv.innerText = `Error: ${data.message}`;
                // }
            })
            .catch(error => {
                responseDiv.innerText = `Error: ${error}`;
            });
    });
</script>