<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>Write a program that prompts the user to enter a string and then prints the string in all uppercase letters.</p>

    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>Write a program that asks the user for their age and then calculates and prints the user's age in months. Assume that there are 12 months in a year.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>Write a program that prompts the user to enter a sentence and then prints the number of words in that sentence.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>