{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand mx-5" href="#">
        <p class="logo__header">PYTHON</p>
        <p class="logo__sub__title">Teacher</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
        <ul class="navbar-nav justify-content-center">
            <!-- Add the new navbar item here -->
            <li class="nav-item">
                <a class="nav-link" href="#intro">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exercise">Exercise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#test">Testing</a>
            </li>

        </ul>
    </div>
</nav>
    <div class="my-5 mx-5">
        <h1 class="text-center">Python Syntax</h1>
        <h3 class="text-center mt-3">Execute Python Syntax</h3>
        <p>We can execute python syntax directly in the command line</p>
        <img src="{% static 'img/lesson_02/1.png' %}" class="img-fluid" alt="Responsive image">
        <p>If we create a file with extension .py, we can execute it like below.</p>
        <img src="{% static 'img/lesson_02/2.png' %}" class="img-fluid" alt="Responsive image">

        <h3 class="text-center mt-3">Python Indentation</h3>
        <p>A block of code is defined via indentation in Python.</p>
        <img src="{% static 'img/lesson_02/3.png' %}" class="img-fluid" alt="Responsive image">
        <p>If you ignore the indentation, Python will throw an error..</p>
        <img src="{% static 'img/lesson_02/4.png' %}" class="img-fluid" alt="Responsive image">
        <br />

        <h1 class="text-center mt-3">Comment </h1>
        <hr/>
        <h3>single line comment</h3>
        <p>For this type of comment we use  "#"</p>
        <img src="{% static 'img/lesson_02/5.png' %}" class="img-fluid" alt="Responsive image">
        <h3 class="text-center mt-3">Multiline comment</h3>
        <p>For this type of comment we use """ this is multiline comment """</p>
        <img src="{% static 'img/lesson_02/6.png' %}" class="img-fluid" alt="Responsive image">
        <br /> 

        <h1 class="text-center">Variables</h1>
        <hr/>
        <p>A variable is formed the instant you first assign a value to it because there is no command in Python for defining a variable.</p>
        <p>Python is case-sensitive</p>
        <img src="{% static 'img/lesson_03/7.png' %}" class="img-fluid" alt="Responsive image">
        <h3 class="text-center mt-3">Find Type</h3>
        <p>when we want to find the type of the variable,</p>
        <img src="{% static 'img/lesson_03/9.png' %}" class="img-fluid" alt="Responsive image">
        
        <br/>
        <div class="row mt-4 text-center">
            <h1>Exercise</h1>
            <p>Here is some examples that you can check out and improve your knowledge. (replit)</p>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body  text-center">
                      <h5 class="card-title">Knock-Knock Joke</h5>
                      <p class="card-text">Let me take you to the childhood! Will you ?</p>
                      <a href="https://replit.com/join/aztyepdzzp-charunikosala"  target="_blank" class="btn btn-primary">Go</a>
                    </div>
                  </div>                  
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body  text-center">
                      <h5 class="card-title  ">MotivateMe</h5>
                      <p class="card-text">When life gives you lemons, make lemonade!</p>
                      <a href="https://replit.com/join/ynzpaxzrnt-charunikosala" target="_blank" class="btn btn-primary">Go</a>
                    </div>
                  </div>  
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body  text-center">
                      <h5 class="card-title">Greeting</h5>
                      <p class="card-text">How are you friends with someone found in the cafeteria?</p>
                      <a href="https://replit.com/join/cmiafjbryb-charunikosala" target="_blank" class="btn btn-primary">Go</a>
                    </div>
                  </div>  
            </div>
        </div>
        <br/>

        <h1 class="mt-4 text-center">
            Test
        </h1>
        <p>You can do exercise here to get some experience.</p>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
        
        <div class="row my-3 text-center">
            <div class="col-md-12 text-end ">
                <a href="{% url 'assignment' %}?lesson=1" class="btn btn-lg btn-danger">Assignment</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script>    
        console.log("Ace editor script executing...");
        if(document.getElementById('editor')) {
            console.log("Initializing Ace editor...");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/c_cpp");
            editor.session.setMode("ace/mode/python");
        }
    </script>
    <script>
        // Get a reference to the button element
        var runBtn = document.getElementById("runBtn");
        // Add a click event listener to the button
        runBtn.addEventListener("click", executeCode);
        function executeCode() {
            var csrftoken = getCookie('csrftoken');
            // Include the CSRF token in the Ajax request header
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // Send the Ajax request
            var code = editor.getSession().getValue();
            $.ajax({
                url: "{% url 'execute_code' %}",
                method: "POST",
                data: {
                    code: code
                },
                success: function(response) {
                    // Update the output element with the response
                    $(".output").text(response);
                }
            });
        }
        // Get the CSRF token cookie value
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>