<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>You have a string "hello". Write a Python for loop that prints out each character in the string on a new line.</p>
    
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>Suppose you have a list of numbers [1, 2, 3, 4, 5]. Write a Python for loop that doubles each number in the list and stores it in a new list called doubled_numbers.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>You have a list of numbers [1, 2, 3, 4, 5]. Write a Python while loop that removes the first element of the list until the list is empty, printing out each removed element on a new line.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>