<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>You are working on a Python program that needs to calculate the area of a circle. Write a function called calculate_area() that takes in the radius of the circle as an argument and returns its area. Provide an example of how to call the function with a radius of 5.</p>
    
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>You are building a program that needs to generate a random number between two given values. Write a function called generate_random_number() that takes in the minimum and maximum values as arguments and returns a random number between them. Provide an example of how to call the function with minimum value of 1 and maximum value of 10.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>You have a list of numbers and you want to find the maximum value in the list. Write a function called find_max() that takes in a list of numbers as an argument and returns the maximum value. Provide an example of how to call the function with a list of [2, 7, 5, 9, 1].</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>