{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand mx-5" href="#">
        <p class="logo__header">PYTHON</p>
        <p class="logo__sub__title">Teacher</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid" id="navbarNav">
        <ul class="navbar-nav justify-content-center">
            <!-- Add the new navbar item here -->
            <li class="nav-item">
                <a class="nav-link" href="#intro">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exercise">Exercise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#test">Testing</a>
            </li>

        </ul>
    </div>
</nav>
<div class="my-5 mx-5" id="intro">
    <h1 class="text-center">Operators</h1>

    <br />
    <h3 class="text-center mt-3">Arithmetic Operator</h3>
    <p>Arithmetic operators are symbols used in mathematics and programming to perform various mathematical operations. </p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/arithmetic_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    
    <h3 class="text-center mt-3">Assignment Operator</h3>
    <hr/>
    <p>Assignment operators are used in programming languages to assign values to variables. They combine the assignment operation with another operation, such as arithmetic or bitwise operations, and provide a concise way to update the value of a variable.</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/assignment_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_10.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_11.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_12.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_13.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h3 class="text-center mt-3">Comparison Operators</h3>
    <hr/>
    <p>Comparison operators are used in programming to compare the values of two operands and determine the relationship between them. These operators evaluate the conditions and return a Boolean value (true or false) based on whether the comparison is true or false. </p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/comparison_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h3 class="text-center mt-3">Logical Operators</h3>
    <hr/>
    <p>Logical operators are symbols or words used in programming and logic to combine or manipulate logical expressions. These operators allow you to perform logical operations on boolean values (true or false) and make decisions based on their outcomes. </p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/logical_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/logical_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/logical_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h3 class="text-center mt-3">Identity Operators</h3>
    <hr/>
    <p>In programming, identity operators are used to compare the identity of two objects or values. They determine whether two objects or values refer to the same memory location. Identity operators are usually supported in languages that have reference types or objects.</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/is.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/is_not.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h3 class="text-center mt-3">Membership Operators</h3>
    <hr/>
    <p>Membership operators are operators in programming languages that are used to test the membership of a value in a sequence, such as a string, list, or tuple. They allow you to check whether a particular value exists within a sequence or not. Membership operators typically return a Boolean value (True or False) based on the result of the membership test.</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/in.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/not_in.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h3 class="text-center mt-3">Bitwise Operators</h3>
    <hr/>
    <p>Bitwise operators are operators in computer programming that manipulate individual bits of binary numbers. They are primarily used in low-level programming, such as systems programming and embedded systems, where direct manipulation of bits is necessary.</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/bitwise_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h1 class="text-center mt-4">Operator Precedence</h1>
    <hr/>
    <table class="ws-table-all notranslate mt-2">
        <tr>
            <th style="width:25%">Operator</th>
            <th style="width:65%">Description</th>
        </tr>
        <tr>
            <td><code class="w3-codespan">()</code></td>
            <td>Parentheses</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">**</code></td>
            <td>Exponentiation</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">+x</code>&nbsp;
                <code class="w3-codespan">-x</code>&nbsp;
                <code class="w3-codespan">~x</code>
            </td>
            <td>Unary plus, unary minus, and bitwise NOT</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">*</code>&nbsp;
                <code class="w3-codespan">/</code>&nbsp;
                <code class="w3-codespan">//</code>&nbsp;
                <code class="w3-codespan">%</code>
            </td>
            <td>Multiplication, division, floor division, and modulus</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">+</code>&nbsp;
                <code class="w3-codespan">-</code>
            </td>
            <td>Addition and subtraction</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">&lt;&lt;</code>&nbsp;
                <code class="w3-codespan">&gt;&gt;</code>
            </td>
            <td>Bitwise left and right shifts</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">&amp;</code></td>
            <td>Bitwise AND</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">^</code></td>
            <td>Bitwise XOR</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">|</code></td>
            <td>Bitwise OR</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">==</code>&nbsp;
                <code class="w3-codespan">!=</code>&nbsp;
                <code class="w3-codespan">></code>&nbsp;
                <code class="w3-codespan">>=</code>&nbsp;
                <code class="w3-codespan">&lt;</code>&nbsp;
                <code class="w3-codespan">&lt;=</code>&nbsp;
                <code class="w3-codespan">is</code>&nbsp;
                <code class="w3-codespan">is not</code>&nbsp;
                <code class="w3-codespan">in</code>&nbsp;
                <code class="w3-codespan">not in</code>&nbsp;
            </td>
            <td>Comparisons, identity, and membership operators</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">not</code></td>
            <td>Logical NOT</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">and</code></td>
            <td>AND</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">or</code></td>
            <td>OR</td>
        </tr>
    </table>
    <br/>

    
    <div class="mt-5 mb-5" id="exercise">
        <hr/>
    </div>
    <div class="row mt-4 text-center">
        <h1>Exercise</h1>
        <p>Here is some examples that you can check out and improve your knowledge. (replit)</p>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body  text-center">
                  <h5 class="card-title">Friend & Me!</h5>
                  <p class="card-text">Do you know about the food preference of your friend?</p>
                  <a href="https://replit.com/join/qmwzrzqqxw-charunikosala"  target="_blank" class="btn btn-primary">Go</a>
                </div>
              </div>                  
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body  text-center">
                  <h5 class="card-title  ">Calculation</h5>
                  <p class="card-text">Let's do some basic calculations !</p>
                  <a href="https://replit.com/join/geupndvuyi-charunikosala" target="_blank" class="btn btn-primary">Go</a>
                </div>
              </div>  
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body  text-center">
                  <h5 class="card-title">Number Play</h5>
                  <p class="card-text">Let's play with numbers!</p>
                  <a href="https://replit.com/join/luhfduodzl-charunikosala" target="_blank" class="btn btn-primary">Go</a>
                </div>
              </div>  
        </div>
    </div>
    <br/>

    
    <div class="mt-5 mb-5" id="test">
        <hr/>
    </div>
    <h1 class="mt-4 text-center">
        Test
    </h1>
    <p>You can do exercise here to get some experience.</p>
    <div class="editor mt-2" id="editor"></div>

    <div class="my-1 text-center">
        <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
    </div>

    <div class="output"></div>
    
    <div class="row my-3 text-center">
        <div class="col-md-12 text-end ">
            <a href="{% url 'assignment' %}?lesson=1" class="btn btn-lg btn-danger">Assignment</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script>    
        console.log("Ace editor script executing...");
        if(document.getElementById('editor')) {
            console.log("Initializing Ace editor...");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/c_cpp");
            editor.session.setMode("ace/mode/python");
        }
    </script>
    <script>
        // Get a reference to the button element
        var runBtn = document.getElementById("runBtn");
        // Add a click event listener to the button
        runBtn.addEventListener("click", executeCode);
        function executeCode() {
            var csrftoken = getCookie('csrftoken');
            // Include the CSRF token in the Ajax request header
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // Send the Ajax request
            var code = editor.getSession().getValue();
            $.ajax({
                url: "{% url 'execute_code' %}",
                method: "POST",
                data: {
                    code: code
                },
                success: function(response) {
                    // Update the output element with the response
                    $(".output").text(response);
                }
            });
        }
        // Get the CSRF token cookie value
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>