<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <h3>Scenario : </h3>
    <p>Suppose you have a list of tuples containing names and ages of people. You want to sort this list in ascending order based on the age of the person. Write a lambda function that can be used with the sorted() function to achieve this.</p>
    
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>


    <h3>Scenario  : </h3>
    <p>You are building a function that accepts two arguments, a list of numbers and a lambda function. The function should use the lambda function to filter the list of numbers and return only the even numbers. Write the lambda function that can be used for this purpose.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>

    <h3>Scenario : </h3>
    <p>You are building a function that accepts two arguments, a list of integers and a lambda function. The function should use the lambda function to calculate the square of each number in the list and return the resulting list. Write the lambda function that can be used for this purpose.</p>
    <div>
        <div class="editor mt-2" id="editor"></div>
    
        <div class="my-1 text-center">
            <button class="btn btn-warning btn-lg" id="runBtn">Run</button>
        </div>
    
        <div class="output"></div>
    </div>
</body>
</html>